<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="loadConf" class="org.stream.config.AppConfigContext" lazy-init="false" scope="singleton">
        <property name="configXml" value="redis.conf.xml"/>
    </bean>

    <bean id="redisServer" class="org.stream.config.RedisServerContext" lazy-init="false" scope="singleton">
        <property name="redisServerXml" value="redis-servers.xml"/>
    </bean>

    <bean id="redisServerGroup" class="org.stream.config.RedisServerGroupContext" lazy-init="false" scope="singleton">
        <property name="redisServerGroupXml" value="redis-client.xml"/>
    </bean>
</beans>