<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="loadConf" class="org.stream.config.AppConfigContext"  lazy-init="false">
        <property name="configXml" value="redis.conf.xml"/>
    </bean>
</beans>