#container {
    margin: 0 auto;
    width: 100%;
}

#sidebar {
    margin-top: 2px;
    float: left;
    width: 220px;

}

#content {
    /*margin-left: 205px !important;*/
    margin-left: 222px;
    width: auto;
    min-width: 900px;

}

.page_s {
    width: 300px;
}