#container {
    margin: 0 auto;
    width: 100%;
}

#sidebar {
    margin-top: 2px;
    float: left;
    width: 200px;
    height: 500px;

}

#content {
    margin-left: 205px !important;
    margin-left: 202px;
    margin-top: 2px;
    min-width: 800px;
    height: 500px;
}