#container {
    margin: 0 auto;
    width: 100%;
}

#sidebar {
    margin-top: 2px;
    float: left;
    width: 200px;

}

#content {
    margin-left: 205px !important;
    margin-left: 202px;

}

.page_s {
    width: 300px;
}